/* .page {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  
  
 

}

.content{
  display: grid;
  height: 94%;
  width: 97%;
  border: 2px;
  overflow: hidden;
  grid-template-columns: 15rem auto;
  gap: 1rem;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sidebar{
background-color: white;
}

.dashboard{
  background-color: white;
}
 */
.plus-btn{
  background-color:rgb(41, 215, 221);
  color:white;
  border-radius:20px;
  width:30px !important;
  height:30px;
  font-size:30px;
  line-height: 30px;
  text-align:center;
  border: none;
  margin-top: 20px;
}

.tab-number{
  background-color:rgb(189, 134, 221);
  color:white;
  border-radius:20px;
  width:20px !important;
  height:20px;
  font-size:15px;
  line-height: 23px;
  text-align:center;
  border: none;
}
.tab-div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tab{
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.tab-name{
  margin-top: 2px;
  margin-left: 5px;
}

.active{
  color:rgb(189, 134, 221);
}